.bg-image {
    background: url('/assets/img/login-bg/fondo.jpg') no-repeat center center / cover;
    // height: 100vh; /* Ocupar toda la altura de la pantalla */
    // width: 100vw; /* Ocupar toda la anchura */
}

@media (max-width: 768px) {
    .bg-image {
        background: url('/assets/img/login-bg/f-resp.jpg') no-repeat center center / cover;
        height: 100vh; /* Ocupar toda la altura de la pantalla */
        // width: 100vw; /* Ocupar toda la anchura */
        // overflow: hidden;
    }
}

.card {
    background: rgba(222, 222, 221, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.error-text {
    width:100%;
    margin-top:.25rem;
    font-size:.6875rem;
    color:red;
}

// ::ng-deep ion-input.custom.ios .input-bottom .helper-text,
// ion-input.custom.ios .input-bottom .counter,
// ion-input.custom.md .input-bottom .helper-text,
// ion-input.custom.md .input-bottom .counter {
//   color: var(--ion-color-primary) !important;
// }